# Build artifacts
/build/
/build-macos
/install/
/out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake

# IDE
.vscode/
.vs/
*.code-workspace

# MSVC / Visual Studio
*.sln
*.vcxproj*
*.pdb
*.ilk
*.obj
*.log
*.tlog/
*.ipdb
*.iobj

# Raylib-generated caches (if any)
*.bin

# OS
.DS_Store
Thumbs.db
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj
build/CMakeCache.txt
build/f1tm_app.vcxproj
build/f1tm_core.vcxproj
build/ZERO_CHECK.vcxproj
build/_deps/raylib-build/ALL_BUILD.vcxproj
build/_deps/raylib-build/uninstall.vcxproj
